openapi: 3.0.0
info:
  title: Dofusdude
  version: 0.5.4
  description: "The last API for everything Dofus \U0001F92F\n\n### JS Quickstart\n```js\nvar dofusdude = require(\"dofusdude-js\");\n\nnew dofusdude.AllItemsApi().getItemsAllSearch(\n  \"en\",\n  \"dofus2\",\n  \"nidas\",\n  { filterTypeName: \"hat\" },\n  (err, data, response) => {\n    console.log(data[0]);\n  }\n);\n```\n\n### Client SDKs\n- [Javascript](https://github.com/dofusdude/dofusdude-js) npm i dofusdude-js --save\n- [Typescript](https://github.com/dofusdude/dofusdude-ts) npm i dofusdude-ts --save\n\nEverything, including this site, is generated out of the [Docs Repo](https://github.com/dofusdude/api-docs). Consider it the Single Source of Truth. If there is a problem with the SDKs, create an issue at the Docs Repo.\n\n## Main Features\n- \U0001F977 **seamless auto-update** load data in the background when a new Dofus version is released and serving it within 2 minutes with atomic data source switching. No downtime and no effects for the user, just always up-to-date.\n\n- ⚡ **blazingly fast** all data in-memory, aggressive caching over short time spans, HTTP/2 multiplexing, written in Go, optimized for low latency, hosted on bare metal in \U0001F1E9\U0001F1EA.\n\n- \U0001FA78 **Dofus 2 Beta** from stable to bleeding edge by replacing /dofus2 with /dofus2beta.\n\n- \U0001F5E3️ **multilingual** supporting _en_, _fr_, _es_, _pt_ including the dropped languages from the Dofus website _de_ and _it_.\n\n- \U0001F9E0 **search by relevance** allowing typos in name and description, handled by language specific text analysis and indexing by the powerful [Meilisearch](https://www.meilisearch.com) written in Rust.\n\n- \U0001F575️ **complete** actual data from the game including items invisible to the encyclopedia like quest items.\n\n- \U0001F5BC️ **HD images** rendering vector graphics into PNGs up to 800x800 px in the background.\n\n\n## Current state\n- Weapons ✅\n- Equipment ✅\n- Sets ✅\n- Resources ✅\n- Consumables ✅\n- Pets ✅\n- Mounts ✅\n- Cosmetics/Ceremonial Items ✅\n- Harnesses ✅\n- Quest Items ✅\n- Almanax ✅\n\n- Monsters ❌\n- Classes ❌\n- Spells ❌\n- Professions ❌\n\n\n### Maybes? I don't know what for \U0001F937\n- Sidekicks ❌\n- Haven Bags ❌\n- Map ❌\n\n\n## Future\nI want this project to be useful and not just add plain categories no one needs. More and more features will be added to enhance the quality based on the needs of you, the developers.\n\nExamples:\n_I need to know where I can drop the all the items I need to craft set X!_\n\n_Please get a detailed always up-to-date spell description so I can calculate the damage for my set builder site!_\n\nNearly everything can be done. But I want to make sure somebody also wants it.\n\nIf you have anything or you are just interested in the project, join the [Discord](https://discord.gg/3EtHskZD8h).\n\n### Versioning\nUpdating an API is a hard problem. This is why we'll keep it simple:\n\nEverything you see here on this site, you can use now and forever. Updates could introduce new fields, new paths or parameter but never break backwards compatibility, so no field or parameter will be deleted. Ever.\n\nThere is one exception! **The API will _always_ choose being up-to-date over everything else**. So if Ankama decides to drop languages from the game like they did with their website, the API will loose support for them, too.\n\nWe can prevent this specific use case with a nice community but even then, it would be hidden behind a feature flag.\n\n## Get started! \U0001F973\nScroll down and try it for yourself!\n\nIf you are ready to use them in your project, think about [generating a client \U0001F9D9](https://github.com/OpenAPITools/openapi-generator) or use one of our pre generated SDKs linked at the top.\n\nAwesome Projects using this API:\n\n- [KaellyBot](https://github.com/Kaysoro/KaellyBot) by Kaysoro\n- [Dofus Craftlist](https://dofuscraftlist-dev.netlify.app) by Lystina\n- [AlmanaxApp](https://almanaxapp.netlify.app) by Lystina\n- [luwnarya.fr](https://luwnarya.fr)\n\n"
  contact:
    name: Survival
    url: "https://discord.gg/3EtHskZD8h"
    email: stelzo@steado.de
servers:
  - url: "https://api.dofusdu.de"
    description: API
paths:
  "/{game}/{language}/items/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search All Items
      responses:
        "200":
          description: Items Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Items-List-Entry-Typed"
              examples:
                query "apple":
                  value:
                    - ankama_id: 21445
                      name: Apple Core
                      type:
                        name: Event
                      item_subtype: quest
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/126095.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/126095-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/126095-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/126095-800.png"
                    - ankama_id: 18332
                      name: Crate of Apis
                      type:
                        name: Ohwymi
                      item_subtype: quest
                      level: 80
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/15056.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/15056-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/15056-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/15056-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-all-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
            example: hat
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name across all item_subtypes
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
      tags:
        - all items
  "/{game}/{language}/mounts/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mounts Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Mount-List-Entry"
              examples:
                almond rhineetle:
                  value:
                    - ankama_id: 199
                      name: Almond and Indigo Rhineetle
                      family_name: Rhineetle
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/mount/199.png"
                        sd: "https://api.dofusdu.de/dofus2/img/mount/199-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/mount/199-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/mount/199-800.png"
                    - ankama_id: 198
                      name: Almond and Orchid Rhineetle
                      family_name: Rhineetle
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/mount/198.png"
                        sd: "https://api.dofusdu.de/dofus2/img/mount/198-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/mount/198-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/mount/198-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-mounts-search
      description: Search in all names and descriptions of mounts with a query.
      parameters:
        - schema:
            type: string
            example: almond
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: rhineetle
          in: query
          name: "filter[family_name]"
          description: only results with the translated family name
  "/{game}/{language}/sets/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus2
          enum:
            - dofus2
            - dofus2beta
        name: game
        in: path
        required: true
    get:
      summary: Search Sets
      responses:
        "200":
          description: Sets Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Set-List-Entry"
              examples:
                Bouftou:
                  value:
                    - ankama_id: 4
                      name: Panoplie du Bouftou Royal
                      items: 7
                      level: 32
                    - ankama_id: 1
                      name: Panoplie du Bouftou
                      items: 7
                      level: 20
                    - ankama_id: 43
                      name: Panoplie du Boufcoul
                      items: 7
                      level: 55
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-sets-search
      description: Search in all names and descriptions of sets with a query.
      parameters:
        - schema:
            type: string
            example: Des
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
      tags:
        - sets
  "/{game}/{language}/items/quest/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus2
          enum:
            - dofus2
            - dofus2beta
        name: game
        in: path
        required: true
    get:
      summary: Search Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: Quest Items Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                kouto:
                  value:
                    - ankama_id: 18114
                      name: Koutoulou Moth
                      type:
                        name: Sufokia
                      level: 200
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/15936.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/15936-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/15936-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/15936-800.png"
                    - ankama_id: 18109
                      name: P'Koutoulou Zothoth
                      type:
                        name: Sufokia
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/8019.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/8019-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/8019-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/8019-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-quest-search
      description: Search in all names and descriptions of quest items with a query.
      parameters:
        - schema:
            type: string
            example: sufo
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
  "/{game}/{language}/items/consumables/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Consumables
      responses:
        "200":
          description: Consumables Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                'query "bar", filter[type_name] "beer"':
                  value:
                    - ankama_id: 19954
                      name: Barbeerd
                      type:
                        name: Beer
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/37004.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/37004-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/37004-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/37004-800.png"
                    - ankama_id: 24042
                      name: Barroll Brewski
                      type:
                        name: Beer
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/164790.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/164790-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/164790-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/164790-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-consumables-search
      description: Search in all names and descriptions of consumable items with a query.
      parameters:
        - schema:
            type: string
            example: bar
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: beer
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
      tags:
        - consumables
  "/{game}/{language}/items/resources/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Resources
      tags:
        - resources
      responses:
        "200":
          description: Resources Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                'query "tiwabbit", filter[type_name] "hair"':
                  value:
                    - ankama_id: 14459
                      name: Tiwabbit Whiskers
                      type:
                        name: Hair
                      level: 45
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/54693.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/54693-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/54693-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/54693-800.png"
                    - ankama_id: 646
                      name: Black Tiwabbit Hair
                      type:
                        name: Hair
                      level: 46
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/54195.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/54195-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/54195-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/54195-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-resource-search
      description: Search in all names and descriptions of resource items with a query.
      parameters:
        - schema:
            type: string
            example: farak
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
  "/{game}/{language}/items/equipment/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Equipment
      tags:
        - equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                query "hat":
                  value:
                    - ankama_id: 8630
                      name: Hatter Lily
                      type:
                        name: Hat
                      level: 40
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/16177.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/16177-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/16177-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/16177-800.png"
                    - ankama_id: 8629
                      name: Hat Tsokey
                      type:
                        name: Hat
                      level: 40
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/16179.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/16179-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/16179-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/16179-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-equipment-search
      description: Search in all names and descriptions of equipment items with a query.
      parameters:
        - schema:
            type: string
            example: nidas
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
          in: query
          description: only results with the translated type name
          name: "filter[type_name]"
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
  "/{game}/{language}/items/cosmetics/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: Cosmetics found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                query "fal":
                  value:
                    - ankama_id: 23711
                      name: Falcodove
                      type:
                        name: Ceremonial petsmount
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/121061.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/121061-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/121061-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/121061-800.png"
                    - ankama_id: 21400
                      name: Bone Falchion
                      type:
                        name: Ceremonial weapon
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/6741.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/6741-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/6741-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/6741-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-cosmetics-search
      description: Search in all names and descriptions of cosmetic items with a query.
      parameters:
        - schema:
            type: string
            example: cape
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
          in: query
          description: only results with the translated type name
          name: "filter[type_name]"
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
  "/{game}/{language}/items/cosmetics/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 24132
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: Cosmetic Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cosmetic"
              examples:
                Master Tor:
                  value:
                    ankama_id: 24132
                    name: Master Tor Toise's Shell
                    description: "Weighing at least 20 kilo-pods, this shell is used for muscle strengthening during Master Tor Toise's training sessions."
                    type:
                      name: Ceremonial cape
                    level: 180
                    pods: 0
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/17481.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/17481-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/17481-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/17481-800.png"
                    has_effects: true
                    effects:
                      - int_minimum: 0
                        int_maximum: 0
                        type:
                          name: "Exchangeable:"
                          id: 0
                          is_meta: false
                        ignore_int_min: true
                        ignore_int_max: true
                        formatted: "Exchangeable: 0"
                      - int_minimum: 0
                        int_maximum: 0
                        type:
                          name: "Compatible with:"
                          id: 1
                          is_meta: false
                        ignore_int_min: true
                        ignore_int_max: true
                        formatted: "Compatible with: 0"
                      - int_minimum: 0
                        int_maximum: 0
                        type:
                          name: "Compatible with:"
                          id: 1
                          is_meta: false
                        ignore_int_min: true
                        ignore_int_max: true
                        formatted: "Compatible with: 0"
                    has_conditions: false
                    has_recipe: false
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-cosmetics-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      x-internal: false
  "/{game}/{language}/items/resources/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 7295
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Resources
      tags:
        - resources
      responses:
        "200":
          description: Resource Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Levadura de panadero:
                  value:
                    ankama_id: 286
                    name: Levadura de panadero
                    description: Es un ingrediente indispensable para la fermentación del pan.
                    type:
                      name: Polvo
                    level: 1
                    pods: 1
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/48137.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/48137-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/48137-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/48137-800.png"
                    has_effects: false
                    has_conditions: false
                    has_recipe: true
                    recipe:
                      - item_ankama_id: 519
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 311
                        item_subtype: resources
                        quantity: 1
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-resources-single
      description: Retrieve a specific resource item with id.
      parameters: []
  "/{game}/{language}/items/equipment/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 26009
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Equipment
      tags:
        - equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Weapon"
              examples:
                Weapon:
                  value:
                    ankama_id: 26011
                    name: Chaotic Scythe
                    description: |-
                      "Actual life was chaos, but there was something terribly logical in the imagination."

                      — Oskar Wyld
                    type:
                      name: Scythe
                    is_weapon: true
                    level: 200
                    pods: 10
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/22009.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/22009-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/22009-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/22009-800.png"
                    has_effects: true
                    effects:
                      - int_minimum: 201
                        int_maximum: 300
                        type:
                          name: Initiative
                          id: 24
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 201 to 300 Initiative
                      - int_minimum: 301
                        int_maximum: 350
                        type:
                          name: Vitality
                          id: 9
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 301 to 350 Vitality
                      - int_minimum: 31
                        int_maximum: 40
                        type:
                          name: Intelligence
                          id: 13
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 31 to 40 Intelligence
                      - int_minimum: 31
                        int_maximum: 40
                        type:
                          name: Chance
                          id: 22
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 31 to 40 Chance
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Power
                          id: 32
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Power
                      - int_minimum: 26
                        int_maximum: 35
                        type:
                          name: Wisdom
                          id: 10
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 26 to 35 Wisdom
                      - int_minimum: 9
                        int_maximum: 12
                        type:
                          name: Lock
                          id: 26
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 9 to 12 Lock
                      - int_minimum: 14
                        int_maximum: 18
                        type:
                          name: Fire Damage
                          id: 61
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 14 to 18 Fire Damage
                      - int_minimum: 14
                        int_maximum: 18
                        type:
                          name: Water Damage
                          id: 27
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 14 to 18 Water Damage
                      - int_minimum: 7
                        int_maximum: 10
                        type:
                          name: "% Water Resistance"
                          id: 17
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 7 to 10% Water Resistance
                      - int_minimum: 9
                        int_maximum: 12
                        type:
                          name: Heals
                          id: 11
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 9 to 12 Heals
                      - int_minimum: -15
                        int_maximum: 0
                        type:
                          name: Critical Damage
                          id: 38
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: "-15 Critical Damage"
                      - int_minimum: -1
                        int_maximum: 0
                        type:
                          name: Range
                          id: 31
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: "-1 Range"
                      - int_minimum: 1
                        int_maximum: 0
                        type:
                          name: MP
                          id: 8
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 1 MP
                      - int_minimum: 21
                        int_maximum: 25
                        type:
                          name: (Neutral damage)
                          id: 42
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 21 to 25 (Neutral damage)
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: (Fire steal)
                          id: 57
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 (Fire steal)
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: (Water steal)
                          id: 44
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 (Water steal)
                    has_conditions: true
                    conditions:
                      - operator: <
                        int_value: 12
                        element:
                          name: AP
                          id: 12
                          is_meta: false
                    critical_hit_probability: 10
                    critical_hit_bonus: 3
                    is_two_handed: false
                    max_cast_per_turn: 1
                    ap_cost: 5
                    range:
                      min: 1
                      max: 2
                    has_recipe: true
                    recipe:
                      - item_ankama_id: 26033
                        item_subtype: resources
                        quantity: 71
                      - item_ankama_id: 26035
                        item_subtype: resources
                        quantity: 27
                      - item_ankama_id: 26036
                        item_subtype: resources
                        quantity: 7
                      - item_ankama_id: 25181
                        item_subtype: resources
                        quantity: 13
                      - item_ankama_id: 22204
                        item_subtype: resources
                        quantity: 10
                      - item_ankama_id: 26037
                        item_subtype: resources
                        quantity: 10
                      - item_ankama_id: 12728
                        item_subtype: resources
                        quantity: 3
                      - item_ankama_id: 24144
                        item_subtype: resources
                        quantity: 2
                    has_parent_set: false
                Equipment:
                  value:
                    ankama_id: 14076
                    name: Count Harebourg's Hat
                    description: "Count Harebourg was forced to become a recluse after the big freeze, but even back then, no living soul had ever seen his face. What is he hiding behind this hat, and what transformations has that face undergone after all these years?"
                    type:
                      name: Hat
                    is_weapon: false
                    level: 200
                    pods: 10
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/16362.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/16362-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/16362-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/16362-800.png"
                    has_effects: true
                    effects:
                      - int_minimum: 451
                        int_maximum: 500
                        type:
                          name: Vitality
                          id: 9
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 451 to 500 Vitality
                      - int_minimum: 71
                        int_maximum: 100
                        type:
                          name: Strength
                          id: 45
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 71 to 100 Strength
                      - int_minimum: 41
                        int_maximum: 60
                        type:
                          name: Wisdom
                          id: 10
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 41 to 60 Wisdom
                      - int_minimum: 1
                        int_maximum: 0
                        type:
                          name: Range
                          id: 31
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 1 Range
                      - int_minimum: 21
                        int_maximum: 30
                        type:
                          name: Prospecting
                          id: 25
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 21 to 30 Prospecting
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Neutral Damage
                          id: 49
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Neutral Damage
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Earth Damage
                          id: 48
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Earth Damage
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Neutral Resistance"
                          id: 34
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Neutral Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Earth Resistance"
                          id: 63
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Earth Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Fire Resistance"
                          id: 37
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Fire Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Water Resistance"
                          id: 17
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Water Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Air Resistance"
                          id: 16
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Air Resistance"
                      - int_minimum: 6
                        int_maximum: 8
                        type:
                          name: AP Reduction
                          id: 64
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 6 to 8 AP Reduction
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Lock
                          id: 26
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Lock
                    has_conditions: false
                    has_recipe: true
                    recipe:
                      - item_ankama_id: 13990
                        item_subtype: resources
                        quantity: 30
                      - item_ankama_id: 13993
                        item_subtype: resources
                        quantity: 4
                      - item_ankama_id: 13914
                        item_subtype: resources
                        quantity: 5
                      - item_ankama_id: 13995
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 13982
                        item_subtype: resources
                        quantity: 8
                      - item_ankama_id: 13168
                        item_subtype: resources
                        quantity: 12
                      - item_ankama_id: 14145
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 12740
                        item_subtype: resources
                        quantity: 3
                    has_parent_set: true
                    parent_set:
                      id: 270
                      name: Count Harebourg Set
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-equipment-single
      description: Retrieve a specific equipment item with id.
      parameters: []
  "/{game}/{language}/items/consumables/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 17206
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Consumables
      tags:
        - consumables
      responses:
        "200":
          description: Consumable Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Superior Health Flask:
                  value:
                    ankama_id: 282
                    name: Superior Health Flask
                    description: This flask restores some Health Points.
                    type:
                      name: Potion
                    level: 60
                    pods: 2
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/12039.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/12039-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/12039-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/12039-800.png"
                    has_effects: true
                    effects:
                      - int_minimum: 70
                        int_maximum: 0
                        type:
                          name: HP
                          id: 21
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 70 HP
                    has_conditions: false
                    has_recipe: true
                    recipe:
                      - item_ankama_id: 380
                        item_subtype: resources
                        quantity: 5
                      - item_ankama_id: 1731
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 533
                        item_subtype: resources
                        quantity: 1
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-consumables-single
      description: Retrieve a specific consumable item with id.
      parameters: []
  "/{game}/{language}/items/quest/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 25256
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Quest Items
      responses:
        "200":
          description: Quest Item Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Modulo di Rapporto Vergine:
                  value:
                    ankama_id: 2105
                    name: Modulo di Rapporto Vergine
                    description: |-
                      Modulo di rapporto vergine.
                      Pronto per essere riempito da Welloy Cab
                    type:
                      name: Varie
                    level: 1
                    pods: 0
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/24041.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/24041-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/24041-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/24041-800.png"
                    has_effects: false
                    has_conditions: false
                    has_recipe: false
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-item-quest-single
      description: Retrieve a specific quest item with id.
      parameters: []
      tags:
        - quest items
  "/{game}/{language}/mounts/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 180
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mount Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mount"
              examples:
                Dragoperu amêndoa e dourado:
                  value:
                    ankama_id: 33
                    name: Dragoperu amêndoa e dourado
                    family_name: Dragoperu
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/mount/33.png"
                      sd: "https://api.dofusdu.de/dofus2/img/mount/33-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/mount/33-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/mount/33-800.png"
                    has_effects: true
                    effects:
                      - int_minimum: 0
                        int_maximum: 300
                        type:
                          name: Vitalidade
                          id: 9
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 300 Vitalidade
                      - int_minimum: 0
                        int_maximum: 1
                        type:
                          name: invocaç
                          id: 28
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 1 invocaç
                      - int_minimum: 0
                        int_maximum: 1000
                        type:
                          name: Iniciativa
                          id: 24
                          is_meta: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 1000 Iniciativa
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-mounts-single
      description: Retrieve a specific mount with id.
      parameters: []
  "/{game}/{language}/sets/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 499
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Sets
      tags:
        - sets
      responses:
        "200":
          description: Set Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Equipment-Set"
              examples:
                Atcham:
                  value:
                    ankama_id: 406
                    name: Atcham-Set
                    equipment_ids:
                      - 17584
                      - 17585
                      - 17586
                    has_effects: true
                    effects:
                      - - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Intelligenz
                            id: 13
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Intelligenz
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Flinkheit
                            id: 36
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Flinkheit
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Glück
                            id: 22
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Glück
                        - int_minimum: 5
                          int_maximum: 0
                          type:
                            name: AP-Entzug
                            id: 64
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 5 AP-Entzug
                        - int_minimum: 10
                          int_maximum: 0
                          type:
                            name: Kritischer Schaden
                            id: 38
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 10 Kritischer Schaden
                      - - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Intelligenz
                            id: 13
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Intelligenz
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Flinkheit
                            id: 36
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Flinkheit
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Glück
                            id: 22
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Glück
                        - int_minimum: 5
                          int_maximum: 0
                          type:
                            name: AP-Entzug
                            id: 64
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 5 AP-Entzug
                        - int_minimum: 10
                          int_maximum: 0
                          type:
                            name: Kritischer Schaden
                            id: 38
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 10 Kritischer Schaden
                        - int_minimum: 1
                          int_maximum: 0
                          type:
                            name: AP
                            id: 12
                            is_meta: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 1 AP
                    highest_equipment_level: 200
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: Not Found
      operationId: get-sets-single
      description: Retrieve a specific set with id.
      parameters: []
  "/{game}/{language}/sets":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Sets
      tags:
        - sets
      responses:
        "200":
          description: Set Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sets-List-Paged"
              examples:
                'filter[min_highest_equipment_level] >= 150, sort[level] "desc"':
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D16"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D16"
                      last: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D11%26page%5Bsize%5D%3D16"
                    sets:
                      - ankama_id: 406
                        name: Panoplie d'Atcham
                        items: 3
                        level: 200
                      - ankama_id: 460
                        name: Panoplie Volkorne
                        items: 4
                        level: 200
                      - ankama_id: 499
                        name: Reliques de l'Aurore Pourpre
                        items: 6
                        level: 200
                      - ankama_id: 498
                        name: Panoplie des Ravageurs
                        items: 3
                        level: 200
                      - ankama_id: 496
                        name: Panoplie du Pandamonium
                        items: 3
                        level: 200
                      - ankama_id: 495
                        name: Panoplie Possédée
                        items: 3
                        level: 200
                      - ankama_id: 491
                        name: Panoplie de Wulan
                        items: 3
                        level: 200
                      - ankama_id: 489
                        name: Panoplie du Wukang
                        items: 3
                        level: 200
                      - ankama_id: 488
                        name: Panoplie du Wukin
                        items: 3
                        level: 200
                      - ankama_id: 477
                        name: Panoplie de Corruption
                        items: 3
                        level: 200
                      - ankama_id: 476
                        name: Panoplie de Servitude
                        items: 3
                        level: 200
                      - ankama_id: 475
                        name: Panoplie de Guerre
                        items: 3
                        level: 200
                      - ankama_id: 474
                        name: Panoplie de Misère
                        items: 3
                        level: 200
                      - ankama_id: 472
                        name: Panoplie de Torkélonia
                        items: 3
                        level: 200
                      - ankama_id: 471
                        name: Panoplie Lunaire
                        items: 3
                        level: 200
                      - ankama_id: 343
                        name: Panoplie de Gein
                        items: 3
                        level: 200
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-sets-list
      description: Retrieve a list of sets.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
  "/{game}/{language}/mounts":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mounts Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mounts-List-Paged"
              examples:
                "page[size] 3":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D3"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D3"
                      last: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D89%26page%5Bsize%5D%3D3"
                    mounts:
                      - ankama_id: 1
                        name: Dragopavo almendrado salvaje
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/1.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/1-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/1-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/1-800.png"
                      - ankama_id: 3
                        name: Dragopavo ébano
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/3.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/3-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/3-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/3-800.png"
                      - ankama_id: 6
                        name: Dragopavo pelirrojo salvaje
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/6.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/6-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/6-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/6-800.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-mounts-list
      description: Retrieve a list of mounts.
      parameters:
        - schema:
            type: string
          in: query
          name: "filter[family_name]"
          description: only results with the translated family name
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
  "/{game}/{language}/items/equipment":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "page[size] 3, sort[level] desc":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D3"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D3"
                      last: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D1241%26page%5Bsize%5D%3D3"
                    items:
                      - ankama_id: 17105
                        name: Botas de Dambeldoro
                        type:
                          name: Bota
                        level: 200
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/11291.png"
                      - ankama_id: 26009
                        name: Guadaña serafina
                        type:
                          name: Guadaña
                        level: 200
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/22008.png"
                      - ankama_id: 15188
                        name: Chanclas de Nidas
                        type:
                          name: Bota
                        level: 200
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/11258.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-items-equipment-list
      description: Retrieve a list of equipment items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: string
            example: recipe
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
      tags:
        - equipment
  "/{game}/{language}/items/resources":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Resources
      tags:
        - resources
      responses:
        "200":
          description: Resources Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "page[size] 2":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D2"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D2"
                      last: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D1534%26page%5Bsize%5D%3D2"
                    items:
                      - ankama_id: 274
                        name: Stück des Klauenpuzzles
                        type:
                          name: Rohstein
                        level: 43
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/51267.png"
                      - ankama_id: 276
                        name: Münze des Schatzes von Badoul
                        type:
                          name: Verschiedene Ressourcen
                        level: 43
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/15268.png"
        "400":
          description: Bad Request
        "404":
          description: Not Found
      operationId: get-items-resources-list
      description: Retrieve a list of resource items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: string
            example: recipe
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
  "/{game}/{language}/items/consumables":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Consumables
      tags:
        - consumables
      responses:
        "200":
          description: Consumables Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "No query, just defaults":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/en/items/consumables?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D16"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/en/items/consumables?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D16"
                      last: "https://api.dofusdu.de/dofus2/en/items/consumables?page%5Bnumber%5D%3D213%26page%5Bsize%5D%3D16"
                    items:
                      - ankama_id: 281
                        name: Api
                        type:
                          name: Treat
                        level: 1
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/42001.png"
                      - ankama_id: 282
                        name: Superior Health Flask
                        type:
                          name: Potion
                        level: 60
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/12039.png"
                      - ankama_id: 283
                        name: Health Flask
                        type:
                          name: Potion
                        level: 40
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/12003.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-items-consumables-list
      description: Retrieve a list of consumable items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: string
            example: recipe
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
  "/{game}/{language}/items/quest":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: Quest Items Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "sort[level] asc, page[number] 5, page[size] 2":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/de/items/quest?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D2"
                      prev: "https://api.dofusdu.de/dofus2/de/items/quest?page%5Bnumber%5D%3D4%26page%5Bsize%5D%3D2"
                      next: "https://api.dofusdu.de/dofus2/de/items/quest?page%5Bnumber%5D%3D6%26page%5Bsize%5D%3D2"
                      last: "https://api.dofusdu.de/dofus2/de/items/quest?page%5Bnumber%5D%3D1454%26page%5Bsize%5D%3D2"
                    items:
                      - ankama_id: 7349
                        name: Liebesbrief für Poochan
                        type:
                          name: Pandala
                        level: 0
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/24050.png"
                      - ankama_id: 7348
                        name: Feudala-Dojo-Siegerurkunde
                        type:
                          name: Pandala
                        level: 0
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/24255.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-items-quest-list
      description: Retrieve a list of quest items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
          name: "page[number]"
        - schema:
            type: string
            example: recipe
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
  "/{game}/{language}/items/cosmetics":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: Cosmetics Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "page[size] 2":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/fr/items/cosmetics?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D2"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/fr/items/cosmetics?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D2"
                      last: "https://api.dofusdu.de/dofus2/fr/items/cosmetics?page%5Bnumber%5D%3D704%26page%5Bsize%5D%3D2"
                    items:
                      - ankama_id: 1090
                        name: Astrocoiffe
                        type:
                          name: Chapeau d'apparat
                        level: 1
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/16027.png"
                      - ankama_id: 1907
                        name: Oreilles de Lapineupe
                        type:
                          name: Chapeau d'apparat
                        level: 1
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/16030.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-cosmetics-list
      description: Retrieve a list of cosmetic items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: string
            example: recipe
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
  "/dofus2/{language}/almanax":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
        name: language
        in: path
        required: true
        description: code
    get:
      summary: Almanax Range
      tags:
        - almanax
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Almanax-Entry"
              examples:
                "range[size] 2":
                  value:
                    - bonus:
                        description: "The experience points awarded for completing alignment quests and city order quests are increased by 100%. What's more, a special repeatable quest is available today inside the militias of Bonta and Brakmar. It is available to aligned players of level 20 or higher and is not attached to the offering quest."
                        type:
                          id: bonta-and-brakmar
                          name: Bonta and Brakmar
                      date: "2022-09-12"
                      tribute:
                        item:
                          ankama_id: 14284
                          image_urls:
                            hd: "https://api.dofusdu.de/dofus2/img/item/15247-800.png"
                            hq: "https://api.dofusdu.de/dofus2/img/item/15247-400.png"
                            icon: "https://api.dofusdu.de/dofus2/img/item/15247.png"
                            sd: "https://api.dofusdu.de/dofus2/img/item/15247-200.png"
                          name: Spectral Flame
                          subtype: resources
                        quantity: 2
                    - bonus:
                        description: The quantity of Flax harvested by farmers is increased by 125%.
                        type:
                          id: plenty-to-harvest
                          name: Plenty to harvest
                      date: "2022-09-13"
                      tribute:
                        item:
                          ankama_id: 423
                          image_urls:
                            hd: "https://api.dofusdu.de/dofus2/img/item/34122-800.png"
                            hq: "https://api.dofusdu.de/dofus2/img/item/34122-400.png"
                            icon: "https://api.dofusdu.de/dofus2/img/item/34122.png"
                            sd: "https://api.dofusdu.de/dofus2/img/item/34122-200.png"
                          name: Flax
                          subtype: resources
                        quantity: 20
      operationId: get-almanax-range
      description: |-
        Get a range of dates, defaults to today + 6 following days but can specified by the query parameters. 

        filter[bonus_type] can be used seperately and does not have an effect on the other parameters.

        range[from] changes the start date, everything else defaults to 6 following dates from this start date.

        range[to] when used without anything else, it will use today as start date and this parameter as end. All ranges are inclusive.

        range[from] + range[to] = inclusive range over the specified dates, should never be farther apart than 35 days.

        range[from|to] + range[size] no need to specify the date, just following days with [from] (0 is today) or go backwards in time with only [to] and [size].

        Not all combinations are listed but this should give you an idea how to they could work.
      parameters:
        - schema:
            type: string
            example: experience-points
          in: query
          name: "filter[bonus_type]"
          description: "ids from meta/{language}/almanax/bonuses"
        - schema:
            type: string
          in: query
          name: "range[from]"
          description: yyyy-mm-dd
        - schema:
            type: string
          in: query
          name: "range[to]"
          description: yyyy-mm-dd
        - schema:
            type: integer
          in: query
          name: "range[size]"
          description: size of the returned range
        - schema:
            type: string
            default: Europe/Paris
          in: query
          name: timezone
          description: 'determine what the current time is. If you live in Brazil, "today" will be hours apart from Paris. Use your timezone to get results relative to your location.'
  "/dofus2/{language}/almanax/{date}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
        name: language
        in: path
        required: true
        description: code
      - schema:
          type: string
        name: date
        in: path
        required: true
[...]
