openapi: 3.0.0
x-stoplight:
  id: ezdjxlif28ceb
info:
  title: dofusdude
  version: 0.9.3
  description: "# A project for you - the developer.\nThe all-in-one toolbelt for your next Ankama related project.\n\n## Client SDKs\n- [Javascript](https://github.com/dofusdude/dofusdude-js) `npm i dofusdude-js --save`\n- [Typescript](https://github.com/dofusdude/dofusdude-ts) `npm i dofusdude-ts --save`\n- [Go](https://github.com/dofusdude/dodugo) `go get -u github.com/dofusdude/dodugo`\n- [Python](https://github.com/dofusdude/dofusdude-py) `pip install dofusdude`\n- [PHP](https://github.com/dofusdude/dofusdude-php)\n- [Java](https://github.com/dofusdude/dofusdude-java) Maven with GitHub packages setup\n\nEverything, including this site, is generated out of the [Docs Repo](https://github.com/dofusdude/api-docs). Consider it the Single Source of Truth. If there is a problem with the SDKs, create an issue there.\n\nYour favorite language is missing? Please let me know!\n\n# Main Features\n- \U0001F977 **Seamless Auto-Update** load data in the background when a new Dofus version is released and serving it within 10 minutes with atomic data source switching. No downtime and no effects for the user, just always up-to-date.\n\n- ⚡ **Blazingly Fast** all data in-memory, aggressive caching over short time spans, HTTP/2 multiplexing, written in Go, optimized for low latency, hosted on bare metal in \U0001F1E9\U0001F1EA.\n\n- \U0001F4E8 **Discord Integration** Ankama related RSS and Almanax feeds to post to Discord servers with advanced features like filters or mentions. Use the endpoints as a dev or the official [Web Client](https://discord.dofusdude.com) as a user.\n\n- \U0001FA78 **Dofus 2 Beta** from stable to bleeding edge by replacing /dofus2 with /dofus2beta.\n\n- \U0001F5E3️ **Multilingual** supporting _en_, _fr_, _es_, _pt_ including the dropped languages from the Dofus website _de_ and _it_.\n\n- \U0001F9E0 **Search by Relevance** allowing typos in name and description, handled by language specific text analysis and indexing.\n\n- \U0001F575️ **Complete** actual data from the game including items invisible to the encyclopedia like quest items.\n\n- \U0001F5BC️ **HD Images** rendering game assets to high-res images with up to 800x800 px.\n\n... and much more on the Roadmap on my [Discord](https://discord.gg/3EtHskZD8h).\n"
  contact:
    name: Survival
    url: "https://discord.gg/3EtHskZD8h"
    email: stelzo@steado.de
servers:
  - url: "https://api.dofusdu.de"
    description: API
paths:
  "/{game}/{language}/items/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search All Items
      responses:
        "200":
          description: Items Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Items-List-Entry-Typed"
              examples:
                query "apple":
                  value:
                    - ankama_id: 21445
                      name: Apple Core
                      type:
                        name: Event
                        id: 12
                      item_subtype: quest
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/126095.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/126095-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/126095-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/126095-800.png"
                    - ankama_id: 18332
                      name: Crate of Apis
                      type:
                        name: Ohwymi
                      item_subtype: quest
                      level: 80
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/15056.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/15056-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/15056-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/15056-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-all-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
            example: atcham
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Bottes
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name across all item_subtypes
        - schema:
            type: integer
            format: int32
            example: 190
            maximum: 200
            minimum: 0
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 200
            maximum: 200
            format: int32
            minimum: 0
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            minimum: 1
            maximum: 100
            example: 8
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - game
      x-stoplight:
        id: eeoi1h7wagrmw
  "/{game}/{language}/mounts/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mounts Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Mount-List-Entry"
              examples:
                almond rhineetle:
                  value:
                    - ankama_id: 199
                      name: Almond and Indigo Rhineetle
                      family_name: Rhineetle
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/mount/199.png"
                        sd: "https://api.dofusdu.de/dofus2/img/mount/199-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/mount/199-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/mount/199-800.png"
                    - ankama_id: 198
                      name: Almond and Orchid Rhineetle
                      family_name: Rhineetle
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/mount/198.png"
                        sd: "https://api.dofusdu.de/dofus2/img/mount/198-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/mount/198-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/mount/198-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-mounts-search
      description: Search in all names and descriptions of mounts with a query.
      parameters:
        - schema:
            type: string
            example: Dorée
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Dragodinde
          in: query
          name: "filter[family_name]"
          description: only results with the translated family name
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
      x-stoplight:
        id: 55fkjddmfhh7n
  "/{game}/{language}/sets/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus2
          enum:
            - dofus2
            - dofus2beta
        name: game
        in: path
        required: true
    get:
      summary: Search Sets
      responses:
        "200":
          description: Sets Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Set-List-Entry"
              examples:
                Bouftou:
                  value:
                    - ankama_id: 4
                      name: Panoplie du Bouftou Royal
                      items: 7
                      level: 32
                    - ankama_id: 1
                      name: Panoplie du Bouftou
                      items: 7
                      level: 20
                    - ankama_id: 43
                      name: Panoplie du Boufcoul
                      items: 7
                      level: 55
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-sets-search
      description: Search in all names and descriptions of sets with a query.
      parameters:
        - schema:
            type: string
            example: Des
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            format: int32
            example: 195
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            format: int32
            example: 200
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: boolean
          in: query
          name: "filter[is_cosmetic]"
          description: "filter sets based on if they only got cosmetic items in it. If true, the item ids are for the cosmetic endpoints instead of equipment."
      tags:
        - sets
      x-stoplight:
        id: 7pwfbuzuxnnuq
  "/{game}/{language}/items/quest/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: es
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus2
          enum:
            - dofus2
            - dofus2beta
        name: game
        in: path
        required: true
    get:
      summary: Search Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: Quest Items Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                kouto:
                  value:
                    - ankama_id: 18114
                      name: Koutoulou Moth
                      type:
                        name: Sufokia
                        id: 7
                      level: 200
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/15936.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/15936-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/15936-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/15936-800.png"
                    - ankama_id: 18109
                      name: P'Koutoulou Zothoth
                      type:
                        name: Sufokia
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/8019.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/8019-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/8019-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/8019-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-quest-search
      description: Search in all names and descriptions of quest items with a query.
      parameters:
        - schema:
            type: string
            example: Ficha
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Justicieros
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            example: 60
            minimum: 0
            maximum: 200
            format: int32
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 200
            example: 70
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          description: maximum number of returned results
          name: limit
        - schema:
            type: array
            items:
              type: string
            example:
              - vigilantes
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: e7dmshthuyg5m
  "/{game}/{language}/items/consumables/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Consumables
      responses:
        "200":
          description: Consumables Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                'query "bar", filter[type_name] "beer"':
                  value:
                    - ankama_id: 19954
                      name: Barbeerd
                      type:
                        name: Beer
                        id: 5
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/37004.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/37004-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/37004-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/37004-800.png"
                    - ankama_id: 24042
                      name: Barroll Brewski
                      type:
                        name: Beer
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/164790.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/164790-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/164790-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/164790-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-consumables-search
      description: Search in all names and descriptions of consumable items with a query.
      parameters:
        - schema:
            type: string
            example: Wholewrite
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Bread
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            format: int32
            maximum: 200
            example: 1
            minimum: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            maximum: 200
            minimum: 1
            example: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - bread
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - consumables
      x-stoplight:
        id: 6ogh4aj4k3vns
  "/{game}/{language}/items/resources/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Resources
      tags:
        - resources
      responses:
        "200":
          description: Resources Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                'query "tiwabbit", filter[type_name] "hair"':
                  value:
                    - ankama_id: 14459
                      name: Tiwabbit Whiskers
                      type:
                        name: Hair
                        id: 3
                      level: 45
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/54693.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/54693-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/54693-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/54693-800.png"
                    - ankama_id: 646
                      name: Black Tiwabbit Hair
                      type:
                        name: Hair
                      level: 46
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/54195.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/54195-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/54195-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/54195-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-resource-search
      description: Search in all names and descriptions of resource items with a query.
      parameters:
        - schema:
            type: string
            example: snowdew
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: plant
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - plant
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: l2f1uw9hdicac
  "/{game}/{language}/search":
    get:
      summary: Game Search
      responses:
        "200":
          description: Game Search Result
          content:
            application/json:
              schema:
                type: array
                x-examples:
                  Example 1:
                    - name: Paztek Sandals
                      ankama_id: 20463
                      type: items-equipment
                    - name: Paztek Mask
                      ankama_id: 20465
                      type: items-equipment
                    - name: Paztek Cloak
                      ankama_id: 20464
                      type: items-equipment
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the hit. The query could still have matched with the description only.
                    ankama_id:
                      type: integer
                      description: Ankama ID for retrieving more details in the type specific endpoint.
                    type:
                      type: string
                      description: Type classification
              examples:
                'query "paztek", filter[type] "beer"':
                  value:
                    - name: Paztek Sandals
                      ankama_id: 20463
                      type: items-equipment
                    - name: Paztek Mask
                      ankama_id: 20465
                      type: items-equipment
                    - name: Paztek Cloak
                      ankama_id: 20464
                      type: items-equipment
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
            - filter[type] does not exist
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-game-search
      description: Search in all names and descriptions of all supported types in the game. For the list of supported types see the endpoint /dofus2/meta/search/types.
      parameters:
        - schema:
            type: string
            example: paztek
          in: query
          name: query
          description: search query
          required: true
        - schema:
            type: array
            uniqueItems: true
            example:
              - items-equipment
            items:
              type: string
              enum:
                - items-consumables
                - items-cosmetics
                - items-resources
                - items-equipment
                - items-quest_items
                - mounts
                - sets
          in: query
          name: "filter[type]"
          description: only results with all specific type
          explode: false
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            uniqueItems: true
            example:
              - level
            items:
              type: string
              enum:
                - level
                - image_urls
                - type
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from the item search to the list entries if the hit is a item. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: 'multi-filter results with the english item type name, including "mount" and "set" from filter[type]. Add with "wood" or "+wood" and exclude with "-wood".'
          explode: false
      tags:
        - game
      x-stoplight:
        id: zxx3tt0z25gz8
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
  "/{game}/{language}/items/equipment/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Equipment
      tags:
        - equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                query "hat":
                  value:
                    - ankama_id: 8630
                      name: Hatter Lily
                      type:
                        name: Hat
                        id: 9
                      level: 40
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/16177.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/16177-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/16177-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/16177-800.png"
                    - ankama_id: 8629
                      name: Hat Tsokey
                      type:
                        name: Hat
                      level: 40
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/16179.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/16179-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/16179-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/16179-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-items-equipment-search
      description: Search in all names and descriptions of equipment items with a query.
      parameters:
        - schema:
            type: string
            example: nidas
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: boots
          in: query
          description: only results with the translated type name
          name: "filter[type_name]"
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            example: 200
            minimum: 1
            maximum: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: 4lzcb55gkjj2z
  "/{game}/{language}/items/cosmetics/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Search Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: Cosmetics found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Item-List-Entry"
              examples:
                query "fal":
                  value:
                    - ankama_id: 23711
                      name: Falcodove
                      type:
                        name: Ceremonial petsmount
                        id: 19
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/121061.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/121061-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/121061-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/121061-800.png"
                    - ankama_id: 21400
                      name: Bone Falchion
                      type:
                        name: Ceremonial weapon
                      level: 1
                      image_urls:
                        icon: "https://api.dofusdu.de/dofus2/img/item/6741.png"
                        sd: "https://api.dofusdu.de/dofus2/img/item/6741-200.png"
                        hq: "https://api.dofusdu.de/dofus2/img/item/6741-400.png"
                        hd: "https://api.dofusdu.de/dofus2/img/item/6741-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - empty or no query
        "404":
          description: |-
            Not Found

            Possibilities:
            - no hits for query
      operationId: get-cosmetics-search
      description: Search in all names and descriptions of cosmetic items with a query.
      parameters:
        - schema:
            type: string
            example: nedora
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Wings
          in: query
          description: only results with the translated type name
          name: "filter[type_name]"
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 2
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - wings
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: mw8gyg65z17wf
  "/{game}/{language}/items/cosmetics/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 24132
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: Cosmetic Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cosmetic"
              examples:
                Master Tor:
                  value:
                    ankama_id: 24132
                    name: Master Tor Toise's Shell
                    description: "Weighing at least 20 kilo-pods, this shell is used for muscle strengthening during Master Tor Toise's training sessions."
                    type:
                      name: Ceremonial cape
                      id: 18
                    level: 180
                    pods: 0
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/17481.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/17481-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/17481-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/17481-800.png"
                    effects:
                      - int_minimum: 0
                        int_maximum: 0
                        type:
                          name: "Exchangeable:"
                          id: 0
                          is_meta: false
                          is_active: false
                        ignore_int_min: true
                        ignore_int_max: true
                        formatted: "Exchangeable: 0"
                      - int_minimum: 0
                        int_maximum: 0
                        type:
                          name: "Compatible with:"
                          id: 1
                          is_meta: false
                        ignore_int_min: true
                        ignore_int_max: true
                        formatted: "Compatible with: 0"
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-cosmetics-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      x-internal: false
      x-stoplight:
        id: a0ks17l0zqqaj
  "/{game}/{language}/items/resources/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 7295
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Resources
      tags:
        - resources
      responses:
        "200":
          description: Resource Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Levadura de panadero:
                  value:
                    ankama_id: 286
                    name: Levadura de panadero
                    description: Es un ingrediente indispensable para la fermentación del pan.
                    type:
                      name: Polvo
                      id: 156
                    level: 1
                    pods: 1
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/48137.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/48137-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/48137-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/48137-800.png"
                    recipe:
                      - item_ankama_id: 519
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 311
                        item_subtype: resources
                        quantity: 1
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-resources-single
      description: Retrieve a specific resource item with id.
      parameters: []
      x-stoplight:
        id: viqn5ujmwoi9s
  "/{game}/{language}/items/equipment/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 26009
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Equipment
      tags:
        - equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Weapon"
              examples:
                Weapon:
                  value:
                    ankama_id: 26011
                    name: Chaotic Scythe
                    description: |-
                      "Actual life was chaos, but there was something terribly logical in the imagination."

                      — Oskar Wyld
                    type:
                      name: Scythe
                      id: 163
                    is_weapon: true
                    level: 200
                    pods: 10
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/22009.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/22009-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/22009-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/22009-800.png"
                    effects:
                      - int_minimum: 201
                        int_maximum: 300
                        type:
                          name: Initiative
                          id: 24
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 201 to 300 Initiative
                      - int_minimum: 301
                        int_maximum: 350
                        type:
                          name: Vitality
                          id: 9
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 301 to 350 Vitality
                      - int_minimum: 31
                        int_maximum: 40
                        type:
                          name: Intelligence
                          id: 13
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 31 to 40 Intelligence
                      - int_minimum: 31
                        int_maximum: 40
                        type:
                          name: Chance
                          id: 22
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 31 to 40 Chance
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Power
                          id: 32
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Power
                      - int_minimum: 26
                        int_maximum: 35
                        type:
                          name: Wisdom
                          id: 10
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 26 to 35 Wisdom
                      - int_minimum: 9
                        int_maximum: 12
                        type:
                          name: Lock
                          id: 26
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 9 to 12 Lock
                      - int_minimum: 14
                        int_maximum: 18
                        type:
                          name: Fire Damage
                          id: 61
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 14 to 18 Fire Damage
                      - int_minimum: 14
                        int_maximum: 18
                        type:
                          name: Water Damage
                          id: 27
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 14 to 18 Water Damage
                      - int_minimum: 7
                        int_maximum: 10
                        type:
                          name: "% Water Resistance"
                          id: 17
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 7 to 10% Water Resistance
                      - int_minimum: 9
                        int_maximum: 12
                        type:
                          name: Heals
                          id: 11
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 9 to 12 Heals
                      - int_minimum: -15
                        int_maximum: 0
                        type:
                          name: Critical Damage
                          id: 38
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: "-15 Critical Damage"
                      - int_minimum: -1
                        int_maximum: 0
                        type:
                          name: Range
                          id: 31
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: "-1 Range"
                      - int_minimum: 1
                        int_maximum: 0
                        type:
                          name: MP
                          id: 8
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 1 MP
                      - int_minimum: 21
                        int_maximum: 25
                        type:
                          name: (Neutral damage)
                          id: 168
                          is_meta: false
                          is_active: true
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 21 to 25 (Neutral damage)
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: (Fire steal)
                          id: 174
                          is_meta: false
                          is_active: true
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 (Fire steal)
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: (Water steal)
                          id: 175
                          is_meta: false
                          is_active: true
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 (Water steal)
                    conditions:
                      - operator: <
                        int_value: 12
                        element:
                          name: AP
                          id: 12
                    condition_tree:
                      condition:
                        operator: <
                        int_value: 12
                        element:
                          name: AP
                          id: 12
                      is_operand: true
                    critical_hit_probability: 10
                    critical_hit_bonus: 3
                    is_two_handed: false
                    max_cast_per_turn: 1
                    ap_cost: 5
                    range:
                      min: 1
                      max: 2
                    recipe:
                      - item_ankama_id: 26033
                        item_subtype: resources
                        quantity: 71
                      - item_ankama_id: 26035
                        item_subtype: resources
                        quantity: 16
                      - item_ankama_id: 26036
                        item_subtype: resources
                        quantity: 7
                      - item_ankama_id: 25181
                        item_subtype: resources
                        quantity: 4
                      - item_ankama_id: 22204
                        item_subtype: resources
                        quantity: 4
                      - item_ankama_id: 26037
                        item_subtype: resources
                        quantity: 2
                      - item_ankama_id: 12728
                        item_subtype: resources
                        quantity: 2
                      - item_ankama_id: 24144
                        item_subtype: resources
                        quantity: 2
                Equipment:
                  value:
                    ankama_id: 14076
                    name: Count Harebourg's Hat
                    description: "Count Harebourg was forced to become a recluse after the big freeze, but even back then, no living soul had ever seen his face. What is he hiding behind this hat, and what transformations has that face undergone after all these years?"
                    type:
                      name: Hat
                      id: 27
                    is_weapon: false
                    level: 200
                    pods: 10
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/16362.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/16362-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/16362-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/16362-800.png"
                    effects:
                      - int_minimum: 451
                        int_maximum: 500
                        type:
                          name: Vitality
                          id: 9
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 451 to 500 Vitality
                      - int_minimum: 71
                        int_maximum: 100
                        type:
                          name: Strength
                          id: 45
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 71 to 100 Strength
                      - int_minimum: 41
                        int_maximum: 60
                        type:
                          name: Wisdom
                          id: 10
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 41 to 60 Wisdom
                      - int_minimum: 1
                        int_maximum: 0
                        type:
                          name: Range
                          id: 31
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 1 Range
                      - int_minimum: 21
                        int_maximum: 30
                        type:
                          name: Prospecting
                          id: 25
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 21 to 30 Prospecting
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Neutral Damage
                          id: 49
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Neutral Damage
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Earth Damage
                          id: 48
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Earth Damage
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Neutral Resistance"
                          id: 34
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Neutral Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Earth Resistance"
                          id: 63
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Earth Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Fire Resistance"
                          id: 37
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Fire Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Water Resistance"
                          id: 17
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Water Resistance"
                      - int_minimum: -4
                        int_maximum: -5
                        type:
                          name: "% Air Resistance"
                          id: 16
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: "-4 to -5% Air Resistance"
                      - int_minimum: 6
                        int_maximum: 8
                        type:
                          name: AP Reduction
                          id: 64
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 6 to 8 AP Reduction
                      - int_minimum: 16
                        int_maximum: 20
                        type:
                          name: Lock
                          id: 26
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 16 to 20 Lock
                    recipe:
                      - item_ankama_id: 13990
                        item_subtype: resources
                        quantity: 30
                      - item_ankama_id: 13993
                        item_subtype: resources
                        quantity: 4
                      - item_ankama_id: 13914
                        item_subtype: resources
                        quantity: 5
                      - item_ankama_id: 13995
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 13982
                        item_subtype: resources
                        quantity: 4
                      - item_ankama_id: 13168
                        item_subtype: resources
                        quantity: 5
                      - item_ankama_id: 14145
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 12740
                        item_subtype: resources
                        quantity: 3
                    parent_set:
                      id: 270
                      name: Count Harebourg Set
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-equipment-single
      description: Retrieve a specific equipment item with id.
      parameters: []
      x-stoplight:
        id: e2j6pr8n8112g
  "/{game}/{language}/items/consumables/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 17206
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Consumables
      tags:
        - consumables
      responses:
        "200":
          description: Consumable Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Superior Health Flask:
                  value:
                    ankama_id: 282
                    name: Superior Health Flask
                    description: This flask restores some Health Points.
                    type:
                      name: Potion
                      id: 96
                    level: 60
                    pods: 2
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/12039.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/12039-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/12039-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/12039-800.png"
                    effects:
                      - int_minimum: 70
                        int_maximum: 0
                        type:
                          name: HP
                          id: 21
                          is_meta: false
                          is_active: true
                        ignore_int_min: false
                        ignore_int_max: true
                        formatted: 70 HP
                    recipe:
                      - item_ankama_id: 380
                        item_subtype: resources
                        quantity: 5
                      - item_ankama_id: 1731
                        item_subtype: resources
                        quantity: 1
                      - item_ankama_id: 533
                        item_subtype: resources
                        quantity: 1
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-items-consumables-single
      description: Retrieve a specific consumable item with id.
      parameters: []
      x-stoplight:
        id: n40tefsprc7oq
  "/{game}/{language}/items/quest/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 25256
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Quest Items
      responses:
        "200":
          description: Quest Item Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples:
                Modulo di Rapporto Vergine:
                  value:
                    ankama_id: 2105
                    name: Modulo di Rapporto Vergine
                    description: |-
                      Modulo di rapporto vergine.
                      Pronto per essere riempito da Welloy Cab
                    type:
                      name: Varie
                      id: 110
                    level: 1
                    pods: 0
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/item/24041.png"
                      sd: "https://api.dofusdu.de/dofus2/img/item/24041-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/item/24041-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/item/24041-800.png"
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-item-quest-single
      description: Retrieve a specific quest item with id.
      parameters: []
      tags:
        - quest items
      x-stoplight:
        id: 74dxhpw46pxzc
  "/{game}/{language}/mounts/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 180
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mount Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mount"
              examples:
                Dragoperu amêndoa e dourado:
                  value:
                    ankama_id: 33
                    name: Dragoperu amêndoa e dourado
                    family_name: Dragoperu
                    image_urls:
                      icon: "https://api.dofusdu.de/dofus2/img/mount/33.png"
                      sd: "https://api.dofusdu.de/dofus2/img/mount/33-200.png"
                      hq: "https://api.dofusdu.de/dofus2/img/mount/33-400.png"
                      hd: "https://api.dofusdu.de/dofus2/img/mount/33-800.png"
                    effects:
                      - int_minimum: 0
                        int_maximum: 300
                        type:
                          name: Vitalidade
                          id: 9
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 300 Vitalidade
                      - int_minimum: 0
                        int_maximum: 1
                        type:
                          name: invocaç
                          id: 28
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 1 invocaç
                      - int_minimum: 0
                        int_maximum: 1000
                        type:
                          name: Iniciativa
                          id: 24
                          is_meta: false
                          is_active: false
                        ignore_int_min: false
                        ignore_int_max: false
                        formatted: 0 a 1000 Iniciativa
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: |-
            Not Found

            Possibilities:
            - nothing found for this ankama_id
      operationId: get-mounts-single
      description: Retrieve a specific mount with id.
      parameters: []
      x-stoplight:
        id: pzqoy2btp2qkn
  "/{game}/{language}/sets/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 499
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: Single Sets
      tags:
        - sets
      responses:
        "200":
          description: Set Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Equipment-Set"
              examples:
                Atcham:
                  value:
                    ankama_id: 406
                    name: Atcham-Set
                    equipment_ids:
                      - 17584
                      - 17585
                      - 17586
                    effects:
                      - - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Intelligenz
                            id: 13
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Intelligenz
                          item_combination: 2
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Flinkheit
                            id: 36
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Flinkheit
                          item_combination: 2
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Glück
                            id: 22
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Glück
                          item_combination: 2
                        - int_minimum: 5
                          int_maximum: 0
                          type:
                            name: AP-Entzug
                            id: 64
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 5 AP-Entzug
                          item_combination: 2
                        - int_minimum: 10
                          int_maximum: 0
                          type:
                            name: Kritischer Schaden
                            id: 38
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 10 Kritischer Schaden
                          item_combination: 2
                      - - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Intelligenz
                            id: 13
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Intelligenz
                          item_combination: 3
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Flinkheit
                            id: 36
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Flinkheit
                          item_combination: 3
                        - int_minimum: 30
                          int_maximum: 0
                          type:
                            name: Glück
                            id: 22
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 30 Glück
                          item_combination: 3
                        - int_minimum: 5
                          int_maximum: 0
                          type:
                            name: AP-Entzug
                            id: 64
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 5 AP-Entzug
                          item_combination: 3
                        - int_minimum: 10
                          int_maximum: 0
                          type:
                            name: Kritischer Schaden
                            id: 38
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 10 Kritischer Schaden
                          item_combination: 3
                        - int_minimum: 1
                          int_maximum: 0
                          type:
                            name: AP
                            id: 12
                            is_meta: false
                            is_active: false
                          ignore_int_min: false
                          ignore_int_max: true
                          formatted: 1 AP
                          item_combination: 3
                    highest_equipment_level: 200
        "400":
          description: |
            Bad Request

            Possibilities:
            - invalid ankama id format
        "404":
          description: Not Found
      operationId: get-sets-single
      description: Retrieve a specific set with id.
      parameters: []
      x-stoplight:
        id: 7h3o04n689qab
  "/{game}/{language}/sets":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Sets
      tags:
        - sets
      responses:
        "200":
          description: Set Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sets-List-Paged"
              examples:
                'filter[min_highest_equipment_level] >= 150, sort[level] "desc"':
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D16"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D16"
                      last: "https://api.dofusdu.de/dofus2/fr/sets/?page%5Bnumber%5D%3D11%26page%5Bsize%5D%3D16"
                    sets:
                      - ankama_id: 406
                        name: Panoplie d'Atcham
                        items: 3
                        level: 200
                      - ankama_id: 460
                        name: Panoplie Volkorne
                        items: 4
                        level: 200
                      - ankama_id: 499
                        name: Reliques de l'Aurore Pourpre
                        items: 6
                        level: 200
                      - ankama_id: 498
                        name: Panoplie des Ravageurs
                        items: 3
                        level: 200
                      - ankama_id: 496
                        name: Panoplie du Pandamonium
                        items: 3
                        level: 200
                      - ankama_id: 495
                        name: Panoplie Possédée
                        items: 3
                        level: 200
                      - ankama_id: 491
                        name: Panoplie de Wulan
                        items: 3
                        level: 200
                      - ankama_id: 489
                        name: Panoplie du Wukang
                        items: 3
                        level: 200
                      - ankama_id: 488
                        name: Panoplie du Wukin
                        items: 3
                        level: 200
                      - ankama_id: 477
                        name: Panoplie de Corruption
                        items: 3
                        level: 200
                      - ankama_id: 476
                        name: Panoplie de Servitude
                        items: 3
                        level: 200
                      - ankama_id: 475
                        name: Panoplie de Guerre
                        items: 3
                        level: 200
                      - ankama_id: 474
                        name: Panoplie de Misère
                        items: 3
                        level: 200
                      - ankama_id: 472
                        name: Panoplie de Torkélonia
                        items: 3
                        level: 200
                      - ankama_id: 471
                        name: Panoplie Lunaire
                        items: 3
                        level: 200
                      - ankama_id: 343
                        name: Panoplie de Gein
                        items: 3
                        level: 200
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-sets-list
      description: Retrieve a list of sets.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            minimum: 1
            format: int32
            maximum: 200
            example: 190
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 200
            format: int32
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: integer
            minimum: -1
            example: 20
            format: int32
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            format: int32
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - equipment_ids
            items:
              type: string
              enum:
                - effects
                - equipment_ids
          in: query
          name: "fields[set]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          explode: false
        - schema:
            type: boolean
          in: query
          name: "filter[is_cosmetic]"
          description: "filter sets based on if they only got cosmetic items in it. If true, the item ids are for the cosmetic endpoints instead of equipment."
      x-stoplight:
        id: s3zlet293u7sh
  "/{game}/{language}/mounts":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Mounts
      tags:
        - mounts
      responses:
        "200":
          description: Mounts Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mounts-List-Paged"
              examples:
                "page[size] 3":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D3"
                      prev: ""
                      next: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D3"
                      last: "https://api.dofusdu.de/dofus2/es/mounts/?page%5Bnumber%5D%3D89%26page%5Bsize%5D%3D3"
                    mounts:
                      - ankama_id: 1
                        name: Dragopavo almendrado salvaje
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/1.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/1-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/1-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/1-800.png"
                      - ankama_id: 3
                        name: Dragopavo ébano
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/3.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/3-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/3-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/3-800.png"
                      - ankama_id: 6
                        name: Dragopavo pelirrojo salvaje
                        family_name: Dragopavo
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/mount/6.png"
                          sd: "https://api.dofusdu.de/dofus2/img/mount/6-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/mount/6-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/mount/6-800.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-mounts-list
      description: Retrieve a list of mounts.
      parameters:
        - schema:
            type: string
            example: Dragoturkey
          in: query
          name: "filter[family_name]"
          description: only results with the translated family name
        - schema:
            type: integer
            minimum: -1
            example: 10
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - effects
            items:
              type: string
              enum:
                - effects
          in: query
          name: "fields[mount]"
          explode: false
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
      x-stoplight:
        id: gy9ldukmg67hy
  "/{game}/{language}/items/equipment":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: en
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Equipment
      responses:
        "200":
          description: Equipment Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "page[size] 3, sort[level] desc":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D3"
                      prev: null
                      next: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D3"
                      last: "https://api.dofusdu.de/dofus2/es/items/equipment?page%5Bnumber%5D%3D1241%26page%5Bsize%5D%3D3"
                    items:
                      - ankama_id: 19244
                        name: Amuleto del Corazón Sangriento
                        type:
                          name: Amuleto
                          id: 18
                        level: 200
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/1299.png"
                          sd: "https://api.dofusdu.de/dofus2/img/item/1299-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/item/1299-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/item/1299-800.png"
                      - ankama_id: 15696
                        name: Capachalote
                        type:
                          name: Capa
                          id: 72
                        level: 200
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/17331.png"
                          sd: "https://api.dofusdu.de/dofus2/img/item/17331-200.png"
                          hq: "https://api.dofusdu.de/dofus2/img/item/17331-400.png"
                          hd: "https://api.dofusdu.de/dofus2/img/item/17331-800.png"
        "400":
          description: |
            Bad Request
        "404":
          description: Not Found
      operationId: get-items-equipment-list
      description: Retrieve a list of equipment items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
            example: Sword
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            example: 10
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            minimum: 0
            example: 60
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 5
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - is_weapon
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
                - is_weapon
                - pods
                - parent_set
                - critical_hit_probability
                - critical_hit_bonus
                - is_two_handed
                - max_cast_per_turn
                - ap_cost
                - range
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - sword
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - equipment
      x-stoplight:
        id: z7ihi4fuba4rk
  "/{game}/{language}/items/resources":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Resources
      tags:
        - resources
      responses:
        "200":
          description: Resources Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "page[size] 2":
                  value:
                    _links:
                      first: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D1%26page%5Bsize%5D%3D2"
                      prev: null
                      next: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D2%26page%5Bsize%5D%3D2"
                      last: "https://api.dofusdu.de/dofus2/de/items/resources?page%5Bnumber%5D%3D1534%26page%5Bsize%5D%3D2"
                    items:
                      - ankama_id: 274
                        name: Stück des Klauenpuzzles
                        type:
                          name: Rohstein
                          id: 92
                        level: 43
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/51267.png"
                      - ankama_id: 276
                        name: Münze des Schatzes von Badoul
                        type:
                          name: Verschiedene Ressourcen
                          id: 1
                        level: 43
                        image_urls:
                          icon: "https://api.dofusdu.de/dofus2/img/item/15268.png"
        "400":
          description: Bad Request
        "404":
          description: Not Found
      operationId: get-items-resources-list
      description: Retrieve a list of resource items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: string
            example: miscellaneous resources
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 160
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 190
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 10
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - recipe
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - wood
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: z2jx5o5pjumhs
  "/{game}/{language}/items/consumables":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus2
            - dofus2beta
          example: dofus2
        name: game
        in: path
        required: true
    get:
      summary: List Consumables
      tags:
        - consumables
      responses:
        "200":
          description: Consumables Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Items-List-Paged"
              examples:
                "No query, just defaults":
                  value:
                    _links:
[...]
