openapi: 3.0.0
x-stoplight:
  id: ezdjxlif28ceb
info:
  title: dofusdude
  version: 1.0.0-rc.2
  description: "# Open Ankama Developer Community\nThe all-in-one toolbelt for your next Ankama related project.\n\n## Versions\n- [Dofus 2](https://docs.dofusdu.de/dofus2/)\n- [Dofus 3](https://docs.dofusdu.de/dofus3/)\n  - v1 [latest] (you are here) \n\n## Client SDKs\n- [Javascript](https://github.com/dofusdude/dofusdude-js) `npm i dofusdude-js --save`\n- [Typescript](https://github.com/dofusdude/dofusdude-ts) `npm i dofusdude-ts --save`\n- [Go](https://github.com/dofusdude/dodugo) `go get -u github.com/dofusdude/dodugo`\n- [Python](https://github.com/dofusdude/dofusdude-py) `pip install dofusdude`\n- [Java](https://github.com/dofusdude/dofusdude-java) Maven with GitHub packages setup\n\nEverything, including this site, is generated out of the [Docs Repo](https://github.com/dofusdude/api-docs). Consider it the Single Source of Truth. If there is a problem with the SDKs, create an issue there.\n\nYour favorite language is missing? Please let me know!\n\n# Main Features\n- \U0001F977 **Seamless Auto-Update** load data in the background when a new Dofus version is released and serving it within 10 minutes with atomic data source switching. No downtime and no effects for the user, just always up-to-date.\n\n- ⚡ **Blazingly Fast** all data in-memory, aggressive caching over short time spans, HTTP/2 multiplexing, written in Go, optimized for low latency, hosted on bare metal in \U0001F1E9\U0001F1EA.\n\n- \U0001F4E8 **Almanax Discord Integration** Use the endpoints as a dev or the official [Web Client](https://discord.dofusdude.com) as a user.\n\n- \U0001FA78 **Dofus 3 Beta** from stable to bleeding edge by replacing /dofus3 with /dofus3beta.\n\n- \U0001F5E3️ **Multilingual** supporting _en_, _fr_, _es_, _pt_, _de_.\n\n- \U0001F9E0 **Search by Relevance** allowing typos in name and description, handled by language specific text analysis and indexing.\n\n- \U0001F575️ **Official Sources** generated from actual data from the game.\n\n... and much more on the Roadmap on my [Discord](https://discord.gg/3EtHskZD8h).\n"
  contact:
    name: Survival
    url: "https://discord.gg/3EtHskZD8h"
    email: stelzo@steado.de
  license:
    name: GPL-3.0
    url: "https://github.com/dofusdude/doduapi/blob/main/LICENSE"
servers:
  - url: "https://api.dofusdu.de"
    description: API
paths:
  "/{game}/v1/{language}/items/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search All Items
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItemGeneral"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          headers: {}
      operationId: get-items-all-search
      description: Search in all names and descriptions of Dofus items (including all subtypes) with a query.
      parameters:
        - schema:
            type: string
            example: atcham
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            format: int32
            example: 190
            maximum: 200
            minimum: 0
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 200
            maximum: 200
            format: int32
            minimum: 0
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            minimum: 1
            maximum: 100
            example: 8
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - game
      x-stoplight:
        id: eeoi1h7wagrmw
  "/{game}/v1/{language}/mounts/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Mounts
      tags:
        - mounts
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Mount"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-mounts-search
      description: Search in all names and descriptions of mounts with a query.
      parameters:
        - schema:
            type: string
            example: Dorée
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Dragodinde
          in: query
          name: "filter[family_name]"
          description: only results with the translated family name
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
      x-stoplight:
        id: 55fkjddmfhh7n
  "/{game}/v1/{language}/sets/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus3
          enum:
            - dofus3
            - dofus3beta
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Sets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListEquipmentSet"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-sets-search
      description: Search in all names and descriptions of sets with a query.
      parameters:
        - schema:
            type: string
            example: Des
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            format: int32
            example: 195
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            format: int32
            example: 200
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: boolean
          in: query
          name: "filter[is_cosmetic]"
          description: "filter sets based on if they only got cosmetic items in it. If true, the item ids are for the cosmetic endpoints instead of equipment."
      tags:
        - sets
      x-stoplight:
        id: 7pwfbuzuxnnuq
  "/{game}/v1/{language}/items/quest/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: es
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          example: dofus3
          enum:
            - dofus3
            - dofus3beta
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: Quest Items Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItem"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-quest-search
      description: Search in all names and descriptions of quest items with a query.
      parameters:
        - schema:
            type: string
            example: Ficha
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: string
            example: Justicieros
          in: query
          name: "filter[type_name]"
          description: only results with the translated type name
        - schema:
            type: integer
            example: 60
            minimum: 0
            maximum: 200
            format: int32
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 0
            maximum: 200
            example: 70
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          description: maximum number of returned results
          name: limit
        - schema:
            type: array
            items:
              type: string
            example:
              - vigilantes
            uniqueItems: true
          in: query
          name: "filter[type_enum]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: e7dmshthuyg5m
  "/{game}/v1/{language}/items/consumables/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Consumables
      responses:
        "200":
          description: Consumables Found
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItem"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-consumables-search
      description: Search in all names and descriptions of consumable items with a query.
      parameters:
        - schema:
            type: string
            example: Wholewrite
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            format: int32
            maximum: 200
            example: 1
            minimum: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            maximum: 200
            minimum: 1
            example: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - bread
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - consumables
      x-stoplight:
        id: 6ogh4aj4k3vns
  "/{game}/v1/{language}/items/resources/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Resources
      tags:
        - resources
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItem"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-resource-search
      description: Search in all names and descriptions of resource items with a query.
      parameters:
        - schema:
            type: string
            example: snowdew
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - plant
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: l2f1uw9hdicac
  "/{game}/v1/{language}/search":
    get:
      summary: Game Search
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                x-examples:
                  Example 1:
                    - name: Paztek Sandals
                      ankama_id: 20463
                      type: items-equipment
                    - name: Paztek Mask
                      ankama_id: 20465
                      type: items-equipment
                    - name: Paztek Cloak
                      ankama_id: 20464
                      type: items-equipment
                items:
                  $ref: "#/components/schemas/GameSearch"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-game-search
      description: Search in all names and descriptions of all supported types in the game. For the list of supported types see the endpoint /dofus3/meta/search/types.
      parameters:
        - schema:
            type: string
            example: paztek
          in: query
          name: query
          description: search query
          required: true
        - schema:
            type: array
            uniqueItems: true
            example:
              - items-equipment
            items:
              type: string
              enum:
                - items-consumables
                - items-cosmetics
                - items-resources
                - items-equipment
                - items-quest_items
                - mounts
                - sets
          in: query
          name: "filter[search_index]"
          description: only results with all specific type
          explode: false
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            uniqueItems: true
            example:
              - level
            items:
              type: string
              enum:
                - level
                - image_urls
                - type
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from the item search to the list entries if the hit is a item. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: 'multi-filter results with the english item type name, including "mount" and "set" from filter[type]. Add with "wood" or "+wood" and exclude with "-wood".'
          explode: false
      tags:
        - game
      x-stoplight:
        id: zxx3tt0z25gz8
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
  "/{game}/v1/{language}/items/equipment/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Equipment
      tags:
        - equipment
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItem"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-equipment-search
      description: Search in all names and descriptions of equipment items with a query.
      parameters:
        - schema:
            type: string
            example: nidas
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            example: 200
            minimum: 1
            maximum: 200
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: 4lzcb55gkjj2z
  "/{game}/v1/{language}/items/cosmetics/search":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Search Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ListItem"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-cosmetics-search
      description: Search in all names and descriptions of cosmetic items with a query.
      parameters:
        - schema:
            type: string
            example: nedora
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 2
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            default: 8
            example: 8
            minimum: 1
            maximum: 100
          in: query
          name: limit
          description: maximum number of returned results
        - schema:
            type: array
            items:
              type: string
            example:
              - wings
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: mw8gyg65z17wf
  "/{game}/v1/{language}/items/cosmetics/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 24132
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Equipment"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-cosmetics-single
      description: Retrieve a specific cosmetic item with id.
      parameters: []
      x-internal: false
      x-stoplight:
        id: a0ks17l0zqqaj
  "/{game}/v1/{language}/items/resources/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 7295
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Resources
      tags:
        - resources
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-resources-single
      description: Retrieve a specific resource item with id.
      parameters: []
      x-stoplight:
        id: viqn5ujmwoi9s
  "/{game}/v1/{language}/items/equipment/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 26009
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Equipment
      tags:
        - equipment
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Weapon"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-equipment-single
      description: Retrieve a specific equipment item with id.
      parameters: []
      x-stoplight:
        id: e2j6pr8n8112g
  "/{game}/v1/{language}/items/consumables/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 17206
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Consumables
      tags:
        - consumables
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-consumables-single
      description: Retrieve a specific consumable item with id.
      parameters: []
      x-stoplight:
        id: n40tefsprc7oq
  "/{game}/v1/{language}/items/quest/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 25256
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Quest Items
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Resource"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-item-quest-single
      description: Retrieve a specific quest item with id.
      parameters: []
      tags:
        - quest items
      x-stoplight:
        id: 74dxhpw46pxzc
  "/{game}/v1/{language}/mounts/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 180
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Mounts
      tags:
        - mounts
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Mount"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-mounts-single
      description: Retrieve a specific mount with id.
      parameters: []
      x-stoplight:
        id: pzqoy2btp2qkn
  "/{game}/v1/{language}/sets/{ankama_id}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: integer
          example: 499
        name: ankama_id
        in: path
        required: true
        description: identifier
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: Single Sets
      tags:
        - sets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EquipmentSet"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-sets-single
      description: Retrieve a specific set with id.
      parameters: []
      x-stoplight:
        id: 7h3o04n689qab
  "/{game}/v1/{language}/sets":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Sets
      tags:
        - sets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEquipmentSet"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-sets-list
      description: Retrieve a list of sets.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            minimum: 1
            format: int32
            maximum: 200
            example: 190
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 200
            format: int32
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: integer
            minimum: -1
            example: 20
            format: int32
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            format: int32
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - equipment_ids
            items:
              type: string
              enum:
                - effects
                - equipment_ids
          in: query
          name: "fields[set]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          explode: false
        - schema:
            type: boolean
          in: query
          name: "filter[contains_cosmetics_only]"
          description: "filter sets based on if they only got cosmetic items in it. If true, the item ids are for the cosmetic endpoints instead of equipment."
        - schema:
            type: boolean
          in: query
          name: "filter[contains_cosmetics]"
          description: filter sets based on if they got cosmetic items in it.
      x-stoplight:
        id: s3zlet293u7sh
  "/{game}/v1/{language}/mounts":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Mounts
      tags:
        - mounts
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMounts"
              examples: {}
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-mounts-list
      description: Retrieve a list of mounts.
      parameters:
        - schema:
            type: string
            example: Dragoturkey
          in: query
          name: "filter[family.name]"
          description: only results with the translated family name
        - schema:
            type: integer
            minimum: -1
            example: 10
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - effects
            items:
              type: string
              enum:
                - effects
          in: query
          name: "fields[mount]"
          explode: false
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
        - schema:
            type: integer
          in: query
          name: "filter[family.id]"
          description: only results with the unique family id
      x-stoplight:
        id: gy9ldukmg67hy
  "/{game}/v1/{language}/items/equipment":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: en
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Equipment
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-equipment-list
      description: Retrieve a list of equipment items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 10
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            minimum: 0
            example: 60
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 5
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - is_weapon
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
                - is_weapon
                - pods
                - parent_set
                - critical_hit_probability
                - critical_hit_bonus
                - max_cast_per_turn
                - ap_cost
                - range
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - sword
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - equipment
      x-stoplight:
        id: z7ihi4fuba4rk
  "/{game}/v1/{language}/items/resources":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Resources
      tags:
        - resources
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-resources-list
      description: Retrieve a list of resource items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 160
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 190
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 10
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - recipe
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
          explode: false
          in: query
          name: "fields[item]"
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
        - schema:
            type: array
            items:
              type: string
            example:
              - wood
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: z2jx5o5pjumhs
  "/{game}/v1/{language}/items/consumables":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Consumables
      tags:
        - consumables
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-consumables-list
      description: Retrieve a list of consumable items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 180
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 2
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - recipe
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
          explode: false
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
        - schema:
            type: array
            items:
              type: string
            example:
              - chest
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: g2xcp6fribgyf
  "/{game}/v1/{language}/items/quest":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-items-quest-list
      description: Retrieve a list of quest items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 1
            format: int32
            minimum: 0
            maximum: 200
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 50
            minimum: 0
            maximum: 200
            format: int32
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 5
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
          name: "page[number]"
        - schema:
            type: array
            uniqueItems: true
            example:
              - recipe
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
          explode: false
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
        - schema:
            type: array
            items:
              type: string
            example:
              - sufokia
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: qsq51akecj0r0
  "/{game}/v1/{language}/items/cosmetics":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-cosmetics-list
      description: Retrieve a list of cosmetic items.
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 5
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: integer
            minimum: -1
            example: 5
          in: query
          name: "page[size]"
          description: size of the results from the list. -1 disables pagination and gets all in one response.
        - schema:
            type: integer
            minimum: 0
            example: 1
          in: query
          name: "page[number]"
          description: "page number based on the current page[size]. So you could get page 1 with 8 entrys and page 2 would have entries 8 to 16."
        - schema:
            type: array
            uniqueItems: true
            example:
              - recipe
            items:
              type: string
              enum:
                - recipe
                - description
                - conditions
                - effects
                - is_weapon
                - pods
                - parent_set
                - critical_hit_probability
                - critical_hit_bonus
                - max_cast_per_turn
                - ap_cost
                - range
          explode: false
          in: query
          description: adds fields from their detail endpoint to the item list entries. Multiple comma separated values allowed.
          name: "fields[item]"
        - schema:
            type: array
            items:
              type: string
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: mlmwp9s8utn2j
  "/{game}/v1/{language}/mounts/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Mounts
      tags:
        - mounts
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMounts"
              examples:
                defaults:
                  value:
                    _links:
                      first: null
                      prev: null
                      next: null
                      last: null
                    items:
                      - ankama_id: 0
                        name: string
                        family_name: string
                        image_urls:
                          icon: string
                          sd: string
                          hq: string
                          hd: string
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-mounts-list
      description: |-
        Retrieve all mounts with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            example: Dragoturkey
          in: query
          name: "filter[family.name]"
          description: only results with the translated family name
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: integer
          in: query
          name: "filter[family.id]"
          description: only results with the unique family id
      x-stoplight:
        id: 35hwizajcz3g7
  "/{game}/v1/{language}/sets/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Sets
      tags:
        - sets
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEquipmentSets"
              examples:
                defaults:
                  value:
                    _links:
                      first: null
                      prev: null
                      next: null
                      last: null
                    sets:
                      - ankama_id: 0
                        name: string
                        items: 0
                        level: 0
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-sets-list
      description: |-
        Retrieve all sets with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            minimum: 1
            format: int32
            maximum: 200
            example: 190
          in: query
          name: "filter[min_highest_equipment_level]"
          description: only results where the equipment with the highest level is above or equal to this value
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 200
            format: int32
          in: query
          name: "filter[max_highest_equipment_level]"
          description: only results where the equipment with the highest level is below or equal to this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: boolean
          in: query
          description: "filter sets based on if they only got cosmetic items in it. If true, the item ids are for the cosmetic endpoints instead of equipment."
          name: "filter[contains_cosmetics_only]"
        - schema:
            type: boolean
          in: query
          name: "filter[contains_cosmetics]"
          description: filter sets based on if they got cosmetic items in it.
      x-stoplight:
        id: rzxp5sotapqe6
  "/{game}/v1/{language}/items/cosmetics/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Cosmetics
      tags:
        - cosmetics
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-cosmetics-list
      description: |-
        Retrieve all cosmetic items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 1
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 5
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: 07si7hjof1qpt
  "/{game}/v1/{language}/items/quest/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Quest Items
      tags:
        - quest items
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-items-quest-list
      description: |-
        Retrieve all quest items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 1
            format: int32
            minimum: 0
            maximum: 200
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 50
            minimum: 0
            maximum: 200
            format: int32
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: mgmt97sgtrhja
  "/{game}/v1/{language}/items/consumables/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Consumables
      tags:
        - consumables
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-items-consumables-list
      description: |-
        Retrieve all consumable items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: asc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 150
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            example: 180
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: llcg4hmp9wucr
  "/{game}/v1/{language}/items/resources/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Resources
      tags:
        - resources
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-items-resources-list
      description: |-
        Retrieve all resource items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 160
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 200
            example: 190
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      x-stoplight:
        id: 1wtcbwhh04jmq
  "/{game}/v1/{language}/items/equipment/all":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
            - pt
          maxLength: 2
          minLength: 2
          example: en
        name: language
        in: path
        required: true
        description: a valid language code
      - schema:
          type: string
          enum:
            - dofus3
            - dofus3beta
          example: dofus3
        name: game
        in: path
        required: true
        description: dofus3 | dofus3beta
    get:
      summary: List All Equipment
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListItems"
        "400":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      operationId: get-all-items-equipment-list
      description: |-
        Retrieve all equipment items with one request. This endpoint is just an alias for the a list with disabled pagination (page[size]=-1) and all fields[type] set.

        If you want everything unfiltered, delete the other query parameters.

        Be careful with testing or (god forbid) using /all in your browser, the returned json is huge and will slow down the browser!

        Tip: set the HTTP Header 'Accept-Encoding: gzip' for saving bandwidth. You will need to uncompress it on your end.
        Example with cURL:
        ```
        curl -sH 'Accept-Encoding: gzip' <api-endpoint> | gunzip -
        ```
      parameters:
        - schema:
            type: string
            enum:
              - asc
              - desc
            example: desc
          in: query
          name: "sort[level]"
          description: "sort the resulting list by level, default unsorted"
        - schema:
            type: integer
            example: 10
          in: query
          name: "filter[min_level]"
          description: only results which level is equal or above this value
        - schema:
            type: integer
            minimum: 0
            example: 60
          in: query
          name: "filter[max_level]"
          description: only results which level is equal or below this value
        - schema:
            type: string
            enum:
              - gzip
          in: header
          name: Accept-Encoding
          description: optional compression for saving bandwidth
        - schema:
            type: array
            items:
              type: string
            example:
              - boots
            uniqueItems: true
          in: query
          name: "filter[type.name_id]"
          description: multi-filter results with the english type name. Add with "wood" or "+wood" and exclude with "-wood".
          explode: false
      tags:
        - equipment
      x-stoplight:
        id: wbxzhlcid1l0w
  "/dofus3/{language}/almanax":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
          example: fr
        name: language
        in: path
        required: true
        description: code
    get:
      summary: Almanax Range
      tags:
        - almanax
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Almanax"
              examples:
                "range[size] 2":
                  value:
                    - bonus:
                        description: "The experience points awarded for completing alignment quests and city order quests are increased by 100%. What's more, a special repeatable quest is available today inside the militias of Bonta and Brakmar. It is available to aligned players of level 20 or higher and is not attached to the offering quest."
                        type:
                          id: bonta-and-brakmar
                          name: Bonta and Brakmar
                      date: "2022-09-12"
                      tribute:
                        item:
                          ankama_id: 14284
                          image_urls:
                            hd: "https://api.dofusdu.de/dofus3/img/item/15247-800.png"
                            hq: "https://api.dofusdu.de/dofus3/img/item/15247-400.png"
                            icon: "https://api.dofusdu.de/dofus3/img/item/15247.png"
                            sd: "https://api.dofusdu.de/dofus3/img/item/15247-200.png"
                          name: Spectral Flame
                          subtype: resources
                        quantity: 2
                    - bonus:
                        description: The quantity of Flax harvested by farmers is increased by 125%.
                        type:
                          id: plenty-to-harvest
                          name: Plenty to harvest
                      date: "2022-09-13"
                      tribute:
                        item:
                          ankama_id: 423
                          image_urls:
                            hd: "https://api.dofusdu.de/dofus3/img/item/34122-800.png"
                            hq: "https://api.dofusdu.de/dofus3/img/item/34122-400.png"
                            icon: "https://api.dofusdu.de/dofus3/img/item/34122.png"
                            sd: "https://api.dofusdu.de/dofus3/img/item/34122-200.png"
                          name: Flax
                          subtype: resources
                        quantity: 20
      operationId: get-almanax-range
      description: |-
        Get a range of dates, defaults to today + 6 following days but can specified by the query parameters. 

        filter[bonus_type] can be used seperately and does not have an effect on the other parameters.

        range[from] changes the start date, everything else defaults to 6 following dates from this start date.

        range[to] when used without anything else, it will use today as start date and this parameter as end. All ranges are inclusive.

        range[from] + range[to] = inclusive range over the specified dates, should never be farther apart than 35 days.

        range[from|to] + range[size] no need to specify the date, just following days with [from] (0 is today) or go backwards in time with only [to] and [size].

        Not all combinations are listed but this should give you an idea how to they could work.
      parameters:
        - schema:
            type: string
            example: experience-points
          in: query
          name: "filter[bonus_type]"
          description: "ids from meta/{language}/almanax/bonuses"
        - schema:
            type: string
            example: "2016-09-15"
            format: date
          in: query
          name: "range[from]"
          description: yyyy-mm-dd
        - schema:
            type: string
            example: "2016-09-28"
            format: date
          in: query
          name: "range[to]"
          description: yyyy-mm-dd
        - schema:
            type: integer
            format: int32
            example: -1
            minimum: -1
            maximum: 370
          in: query
          name: "range[size]"
          description: size of the returned range
        - schema:
            type: string
            default: Europe/Paris
            example: Europe/Paris
          in: query
          name: timezone
          description: 'determine what the current time is. If you live in Brazil, "today" will be hours apart from Paris. Use your timezone to get results relative to your location.'
      x-stoplight:
        id: fy8l7o3sz1jyo
  "/dofus3/{language}/almanax/{date}":
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
          example: fr
        name: language
        in: path
        required: true
        description: code
      - schema:
          type: string
          example: "2020-07-14"
          format: date
        name: date
        in: path
        required: true
        description: yyyy-mm-dd
    get:
      summary: Single Almanax Date
      tags:
        - almanax
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Almanax"
              examples:
                9/11:
                  value:
                    bonus:
                      description: "Les quantités de ressources récupérées par les récolteurs et les chasseurs sont augmentées de 50 % dans toutes les zones influencées par une anomalie temporelle. De plus, les gains d'expérience et les chances d'obtenir du butin sont augmentés de 25 % dans la zone du Sanctuaire des Dragoeufs."
                      type:
                        id: reward-bonus
                        name: Bonus des anomalies
                    date: "2022-09-11"
                    tribute:
                      item:
                        ankama_id: 8362
                        image_urls:
                          hd: "https://api.dofusdu.de/dofus3/img/item/59611-800.png"
                          hq: "https://api.dofusdu.de/dofus3/img/item/59611-400.png"
                          icon: "https://api.dofusdu.de/dofus3/img/item/59611.png"
                          sd: "https://api.dofusdu.de/dofus3/img/item/59611-200.png"
                        name: Peau de Dragnarok
                        subtype: resources
                      quantity: 2
      operationId: get-almanax-date
      description: Get a single date. There are not more details in the returned object than the normal range endpoint.
      x-stoplight:
        id: d0000xjgaenyh
  /dofus3/meta/elements:
    get:
      summary: Effects and Condition Elements
      tags:
        - meta
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                id = index:
                  value:
                    - Vitality
                    - Intelligence
      operationId: get-meta-elements
      description: Get the mappings for all specific elements that are linked in the dataset. All names are english. Translations are not needed because of a global unique id which is the index inside the array. Future elements will get a higher id.
      parameters: []
      x-stoplight:
        id: 4oyiu8nbwwgds
    parameters: []
  /dofus3/meta/version:
    get:
      summary: Game Version
      tags:
        - meta
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Version"
              examples: {}
      operationId: get-meta-version
      description: The current game version of the hosted data.
      parameters: []
      x-stoplight:
        id: ha9mde87rn0in
    parameters: []
  /dofus3/meta/search/types:
    get:
      summary: Available Game Search Types
      tags:
        - meta
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                List:
                  value:
                    - items-consumables
                    - items-cosmetics
                    - items-resources
                    - items-equipment
                    - items-quest_items
                    - mounts
                    - sets
      operationId: get-game-search-types
      description: "Get all types for /{game}/v1/{lang}/search available for filtering. All names are english for comparing them inside applications. Order is fixed so you can compare indices instead of strings."
      parameters: []
      x-stoplight:
        id: v67mknkhaif2h
    parameters: []
  /dofus3/meta/items/types:
    get:
      summary: Available Item Types
      tags:
        - meta
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              examples:
                List:
                  value:
                    - items-consumables
                    - items-cosmetics
                    - items-resources
                    - items-equipment
                    - items-quest_items
                    - mounts
                    - sets
      operationId: get-item-types
      description: |-
        Get all types of all items. Primarily used for filtering more detailed types in listings or search endpoints.
        All names are english for comparing them inside applications.
        Ordering is not guaranteed to persist with game updates.
      parameters: []
      x-stoplight:
        id: j8a5zpi8i20xe
    parameters: []
  "/dofus3/meta/{language}/almanax/bonuses":
    get:
      summary: Available Almanax Bonuses
      tags:
        - meta
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                x-examples:
                  example-1:
                    - id: reward-bonus
                      name: Reward Bonus
                    - id: loot
                      name: Loot
                    - id: plenty-of-fish
                      name: Plenty of fish
              examples:
                en:
                  value:
                    - id: reward-bonus
                      name: Reward Bonus
                    - id: loot
                      name: Loot
                    - id: plenty-of-fish
                      name: Plenty of fish
      operationId: get-meta-almanax-bonuses
      description: Get all the available bonuses and their id for filtering them in the range endpoint.
      parameters: []
      x-stoplight:
        id: y3rp6gd28quli
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
          example: fr
        name: language
        in: path
        required: true
        description: a valid language code
  "/dofus3/meta/{language}/almanax/bonuses/search":
    get:
      summary: Search Available Almanax Bonuses
      tags:
        - meta
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                x-examples:
                  example-1:
                    - id: reward-bonus
                      name: Reward Bonus
                    - id: loot
                      name: Loot
                    - id: plenty-of-fish
                      name: Plenty of fish
              examples:
                en:
                  value:
                    - id: reward-bonus
                      name: Reward Bonus
                    - id: loot
                      name: Loot
                    - id: plenty-of-fish
                      name: Plenty of fish
      operationId: get-meta-almanax-bonuses-search
      description: Search all the available bonuses and their id for filtering them in the range endpoint.
      parameters:
        - schema:
            type: string
            example: abond
          in: query
          name: query
          description: case sensitive search query
          required: true
        - schema:
            type: integer
          in: query
          name: limit
          description: maximum number of returned results
      x-stoplight:
        id: wacmug1sb1oe9
    parameters:
      - schema:
          type: string
          enum:
            - en
            - fr
            - de
            - it
            - es
[...]
